.search {
    padding: 0.1em 0.1em 0.1em 0.3em;
    height: 1.6em;
    width: 80%;
    display: flex;
    border: 2px solid #e9e9e9;
    border-radius: 2px;
}

.search > label {
    left: -999999px;
    position: absolute;
}

.searchInput {
    font-family: inherit;
    width: 90%;
    height: auto;
    font-size: 0.9em;
    border: none;
    outline: none;
}

.searchBtn {
    width: 10%;
    height: auto;
    background: white;
    border: none;
    position: relative;
    cursor: pointer;
}

.searchBtnIcon{
    font-size: 1.4vw;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    height: auto;
    color: #1c1a17;
}